.banner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.banner__left {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-left: 5dvw;
}

.banner__right {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 5dvw;
}

.logo__container {
  height: 100%;
  aspect-ratio: 3;
  cursor: pointer;
}

.logo__container svg {
  height: 100%;
  width: 100%;
  color: var(--app-text-color);
}

.icon__container {
  height: 60%;
  aspect-ratio: 1;
  cursor: pointer;
}

.icon__container svg {
  height: 100%;
  width: 100%;
  color: var(--app-text-color);
}

@media (max-width: 600px) {
  .banner__left {
    padding-left: 1rem;
  }

  .banner__right {
    padding-right: 1rem;
  }

  .banner__logo {
    height: 80%;
  }
}
