.button-group {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: min(calc(var(--item-font-scale) * 0.5rem), 1rem);
}

.button-group__button {
  flex: 1;
  font-size: calc(var(--item-font-scale) * 0.8rem);
  height: calc(var(--item-font-scale) * 1.8rem);
  margin-top: calc(var(--item-font-scale) * 0.2rem);
  border-radius: calc(var(--item-font-scale) * 0.3rem);
  background-color: var(--button-background-color-inactive);
  color: var(--cell-text-color-absent);
  border: 0px;
  cursor: pointer;
}

.button-group__button--active {
  background-color: var(--button-background-color-active);
  color: var(--cell-text-color-correct);
  cursor: default;
  pointer-events: none;
}

.button-group__button--danger {
  background-color: var(--cell-background-color-wrong);
  color: var(--cell-text-color-wrong);
  border: 0px;
}

.button-group__action {
  width: 100%;
}
