.button-group {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: min(calc(var(--item-font-scale) * 0.5rem), 1rem);
}

.button-group__button {
  flex: 1;
  font-size: calc(var(--item-font-scale) * 0.8rem);
  height: calc(var(--item-font-scale) * 1.8rem);
  margin-top: calc(var(--item-font-scale) * 0.2rem);
  border-radius: calc(var(--item-font-scale) * 0.3rem);
  background-color: var(--settings-button-background-inactive-color);
  color: var(--settings-button-text-inactive-color);
  border: 0px;
  cursor: pointer;
}

.button-group__button--active {
  background-color: var(--button-background-color-active);
  color: var(--cell-text-color-correct);
  cursor: default;
}

.button-group__button--active-danger {
  background-color: var(--settings-button-background-active-danger-color);
  color: var(--settings-button-text-active-danger-color);
}

.button-group__button--active-default {
  background-color: var(--settings-button-background-active-default-color);
  color: var(--settings-button-text-active-default-color);
}

.button-group__action {
  width: 100%;
}

.button-group__button:disabled {
  opacity: 0.45;
  cursor: not-allowed;
}

.button-group__button--active:disabled {
  opacity: 0.45;
  cursor: not-allowed;
  pointer-events: auto;
}
