.button-group {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.button-group__button {
  flex: 1;
  font-size: calc(var(--item-font-scale) * 0.8rem);
  height: calc(var(--item-font-scale) * 1.8rem);
  margin: calc(var(--item-font-scale) * 0.2rem);
  background-color: var(--cell-background-color-absent);
  color: var(--cell-text-color-absent);
  border: 1px solid var(--cell-border-color-absent);
  cursor: pointer;
}

.button-group__button--active {
  background-color: var(--cell-background-color-correct);
  color: var(--cell-text-color-correct);
  border: 1px solid var(--cell-border-color-correct);
}

.button-group__button--danger {
  background-color: var(--cell-background-color-wrong);
  color: var(--cell-text-color-wrong);
  border: 1px solid var(--cell-border-color-wrong);
}

.button-group__action {
  width: 100%;
}
