.cell {
  display: grid;
  place-items: center;
  border: var(--cell-border-size) solid var(--cell-border-color-default);
  width: var(--grid-cell-size);
  aspect-ratio: 1;
  font-size: var(--cell-font-size);
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  will-change: transform, background-color, border-color, color;
  transform-origin: center;
  transition: background-color var(--color-duration) ease var(--delay),
    color var(--color-duration) ease var(--delay),
    border-color var(--color-duration) ease var(--delay);
}

.cell--default {
  background-color: var(--cell-background-color-default);
  color: var(--cell-text-color-default);
  border-color: var(--cell-border-color-default);
}

.cell--correct {
  background-color: var(--cell-background-color-correct);
  color: var(--cell-text-color-correct);
  border-color: var(--cell-border-color-correct);
}

.cell--present {
  background-color: var(--cell-background-color-present);
  color: var(--cell-text-color-present);
  border-color: var(--cell-border-color-present);
}

.cell--absent {
  background-color: var(--cell-background-color-absent);
  color: var(--cell-text-color-absent);
  border-color: var(--cell-border-color-absent);
}

.cell--hidden {
  color: var(--cell-text-color-hidden);
}

.cell--wrong {
  color: var(--cell-text-color-wrong);
  background-color: var(--cell-background-color-wrong);
  border-color: var(--cell-border-color-wrong);
}

.cell--bounce {
  animation: bounce var(--motion-duration) ease forwards;
  animation-delay: var(--delay);
}

.cell--shake {
  animation: shake var(--motion-duration) ease forwards;
  animation-delay: var(--delay);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-10%);
  }
  40%,
  80% {
    transform: translateX(10%);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(min(-10px, -0.5rem));
  }
  100% {
    transform: translateY(0);
  }
}
