.grid {
  --cell-size-from-width: calc(100cqw / var(--layout-cols));
  --cell-size-from-height: calc(65cqh / var(--layout-rows));
  --grid-cell-size: min(
    var(--cell-size-from-width),
    var(--cell-size-from-height)
  );

  --cell-font-scale: 0.5;
  --cell-gap-scale: 0.15;
  --cell-border-scale: 0.035;
  --cell-font-size: calc(var(--cell-font-scale) * var(--grid-cell-size));
  --cell-gap-size: calc(var(--cell-gap-scale) * var(--grid-cell-size));
  --cell-border-size: calc(var(--cell-border-scale) * var(--grid-cell-size));

  display: grid;
  grid-template-rows: repeat(var(--data-rows), var(--grid-cell-size));
  grid-template-columns: repeat(var(--data-cols), var(--grid-cell-size));
  justify-content: center;
  align-content: center;
  user-select: none;
  gap: var(--cell-gap-size);
}
