.keyboard {
  --font-size-scale: 1;

  width: 100%;
  max-width: 1024px;

  align-self: center;

  display: grid;
  gap: calc(var(--font-size-scale) * 0.2rem);
  grid-auto-rows: max-content;
}

.keyboard__row {
  display: grid;
  grid-template-columns: var(--columns);
  gap: calc(var(--font-size-scale) * 0.2rem);

  width: 98%;
  margin-inline: auto;

  justify-content: center;
  align-items: start;

  font-size: calc(var(--font-size-scale) * 1rem);
}

.keyboard__key {
  width: 100%;
  max-height: 7dvh;
  aspect-ratio: 1 / 1.5;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  line-height: 1;

  overflow: hidden;
  white-space: normal;
  user-select: none;
}

.keyboard__key[data-unit="1.5"] {
  aspect-ratio: 1;
}

.keyboard__key--default {
  background-color: var(--cell-background-color-default);
  border-color: var(--cell-border-color-default);
  color: var(--cell-text-color-default);
}

.keyboard__key--present {
  background-color: var(--cell-background-color-present);
  border-color: var(--cell-border-color-present);
  color: var(--cell-text-color-present);
}

.keyboard__key--absent {
  background-color: var(--cell-background-color-absent);
  border-color: var(--cell-border-color-absent);
  color: var(--cell-text-color-absent);
}

.keyboard__key--correct {
  background-color: var(--cell-background-color-correct);
  border-color: var(--cell-border-color-correct);
  color: var(--cell-text-color-correct);
}

@media (min-width: 600px) and (orientation: portrait) {
  .keyboard__row {
    width: 90%;
    --font-size-scale: 1.2;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .keyboard__row {
    width: 70%;
    --font-size-scale: 1.2;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .keyboard__row {
    width: 90%;
    --font-size-scale: 1.3;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .keyboard__row {
    width: 80%;
    --font-size-scale: 1.3;
  }
}
