.mode-controls {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mode-controls__button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: var(--controls-scale);
  background-color: var(--cell-background-color-default);
  border-color: var(--cell-border-color-default);
  color: var(--cell-text-color-default);
}

.mode-controls__button svg {
  font-size: 2em;
  transition: transform 0.3s ease;
}

.icon--open {
  transform: rotate(90deg);
}

.mode-controls__overlay {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms ease;

  z-index: 9999;
}

.mode-controls--open {
  opacity: 1;
  pointer-events: auto;
}

.mode-controls--closed {
  opacity: 0;
  pointer-events: none;
}

.mode-controls__menu {
  width: min(80dvw, 420px);
  max-height: min(80dvh, 640px);

  padding: 1.2rem 1.5rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5em;

  background-color: var(--app-background-color);
  color: var(--app-text-color);

  z-index: 10000;

  container-type: inline-size;
  --menu-item-scale: 3cqw;
}

.mode-controls__menu-section {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.animate {
  animation: fadeIn 500ms ease;
}

.mode-controls__menu-button {
  width: 100%;
  height: calc(var(--menu-item-scale) * 3);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--menu-item-scale);

  background-color: var(--button-background-color-inactive);
  color: var(--cell-text-color-wrong);
  border: 0;
  cursor: pointer;

  border-radius: calc(var(--menu-item-scale) * 0.2);
}

.mode-controls__menu-button--selected {
  background-color: var(--button-background-color-active);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
