.options-item {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: calc(var(--item-font-scale) * 0.75rem);
  width: 100%;
  user-select: none;
  align-items: center;
  justify-content: space-between;
  --options-control-min-height: calc(var(--item-font-scale) * 2.9rem);
  gap: calc(var(--item-font-scale) * 0.35rem);
}

.options-item__header {
  display: flex;
  align-items: flex-start;
  font-size: calc(var(--item-font-scale) * 0.8rem);
  line-height: 1;
  gap: calc(var(--item-font-scale) * 0.35rem);
}

.options-item__icon {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  font-size: 1.3em;
  color: var(--app-text-header-color);
}

.options-item__name {
  margin: 0;
  color: var(--app-text-header-color);
}

.options-item__action {
  display: flex;
  min-height: var(--settings-control-min-height);
  align-items: flex-start;
}

@media (min-width: 600px) {
  .options-item {
    --item-font-scale: 1.3;
  }
}

@media (min-width: 1024px) {
  .options-item {
    --item-font-scale: 1.5;
  }

  .options-item {
    grid-template-columns: 2fr 5fr;
  }
}
