.settings-section__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background: none;
  border: none;
  padding: 0;
  margin: calc(var(--item-font-scale) * 0.1rem) 0;

  font-size: calc(var(--item-font-scale) * 1.5rem);
  font-weight: bold;
  user-select: none;
  cursor: pointer;

  color: var(--app-text-header-color);
}

.icon-wrapper {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  font-size: calc(var(--item-font-scale) * 2rem);
}

.icon {
  width: 100%;
  height: 100%;
}

.icon-wrapper.open {
  transform: rotate(90deg);
}
