.settings-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  user-select: none;
  --settings-control-min-height: calc(var(--item-font-scale) * 2.9rem);
  gap: calc(var(--item-font-scale) * 0.35rem);
}

.settings-item__header {
  display: flex;
  align-items: end;
  gap: 0.5em;
  font-size: calc(var(--item-font-scale) * 0.8rem);
  line-height: 1;
  gap: calc(var(--item-font-scale) * 0.35rem);
}

.settings-item__icon {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  font-size: 1.3em;
  color: var(--app-text-header-color);
}

.settings-item__name {
  margin: 0;
  color: var(--app-text-header-color);
}

.settings-item__info {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: calc(var(--item-font-scale) * 0.75rem);
  width: 100%;
}

.settings-item__description {
  font-size: calc(var(--item-font-scale) * 0.9rem);
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: calc(var(--item-font-scale) * 0.3rem);
}

.settings-item__actions {
  display: flex;
  min-height: var(--settings-control-min-height);
  align-items: flex-start;
}

.settings-item__actions input {
  flex: 1;
  accent-color: var(--cell-background-color-correct);
  cursor: pointer;
}

.settings-item__actions img {
  width: calc(var(--item-font-scale) * 1.5rem);
  height: calc(var(--item-font-scale) * 1.5rem);
}

@media (min-width: 600px) {
  .settings-item {
    --item-font-scale: 1.3;
  }
}

@media (min-width: 1024px) {
  .settings-item {
    --item-font-scale: 1.5;
  }

  .settings-item__info {
    grid-template-columns: 2fr 3fr;
    column-gap: calc(var(--item-font-scale) * 5rem);
  }
}
