.toast {
  padding: 0.75rem 1.25rem;
  text-align: center;
  background-color: gray;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.toast--hidden {
  opacity: 0;
}
