.app {
  height: 100dvh;
  width: 100dvw;
  padding-top: 1dvh;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;

  --item-font-scale: 1;
  display: grid;
  grid-template-rows: 7% 90%;
}

.app__content {
  height: 100%;
  width: 100dvw;
}

.landscape-warning {
  display: none;
  text-align: center;
}

@media (max-height: 600px) and (orientation: landscape) {
  .app__banner,
  .app__content {
    display: none;
  }

  .landscape-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-size: 1rem;
    font-weight: bold;
  }
}

@media (max-height: 560px), (max-width: 340px) {
  .app__banner,
  .app__content {
    display: none;
  }

  .landscape-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-size: 1rem;
    font-weight: bold;
  }
}

@media (min-width: 600px) {
  .app {
    --item-font-scale: 1.25;
  }
}

@media (min-width: 1024px) {
  .app {
    --item-font-scale: 1.4;
  }
}
