.home-page__content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 72% 25% 3%;
  align-items: center;
  overflow: hidden;

  opacity: 0;
  animation: fadeIn 500ms ease forwards;
  margin-bottom: 3dvh;
}

.game-board__controls {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 5%;
  text-overflow: hidden;

  container-type: inline-size;
  --controls-scale: 4cqw;
}

.game-board__restart {
  font-size: 0.8em;
  aspect-ratio: 1;

  background-color: var(--cell-background-color-default);
  border-color: var(--cell-border-color-default);
  color: var(--cell-text-color-default);
}

.game-board__restart svg {
  font-size: calc(var(--controls-scale) * 1.3);
}

.game-board {
  height: 80%;
  display: grid;
  grid-template-rows: 10% 90%;
  justify-content: center;
  align-items: center;

  container-type: size;
}

.game-board__grids {
  display: grid;

  grid-template-rows: 6fr 1fr;
  row-gap: 5%;
  z-index: 0;
}

.app__keyboard {
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
}

.app__toast-bar {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  pointer-events: none;
  z-index: 0;
}

.app__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  opacity: 0.7;
}

.app__footer a {
  color: var(--app-text-color);
  text-decoration: none;
}

.app__footer a + a::before {
  content: "|";
  margin: 0 10px;
}

.home-page__error {
  font-size: 3em;
  display: flex;
  text-align: center;
  justify-self: center;
  width: 80%;
  color: red;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
