.home-page__content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 75% 25%;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  animation: fadeIn 500ms ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.game__error {
  color: red;
  text-align: center;
  font-size: 3rem;
}

.game-board__container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board__controls {
  font-size: 100%;
  width: 100%;
  display: flex;
  gap: 5%;
}

.game-board__summary {
  flex: 1;
  min-width: 0;
}

.game-board__restart {
  aspect-ratio: 1;
  flex: 0 0 auto;
}

.game-board {
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;
  container-type: size;
}

.game-board__stack {
  display: grid;
  grid-template-rows: 10% 85%;
  row-gap: 5%;
}

.game-board__grids {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.app__keyboard {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
