.settings-page__content {
  height: 100%;
  width: 100%;
  min-height: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 3dvh;
}

.volume-control {
  display: flex;
  width: 100%;
  gap: 1dvw;
  align-items: center;
}

.volume-icon {
  width: 8%;
  height: 8%;
  color: var(--app-text-color);
  cursor: pointer;
}

@media (min-width: 600px) {
  .volume-icon {
    width: 6%;
    height: 6%;
  }
}
