:root[data-theme="dark"] {
  --cell-background-color-default: transparent;
  --cell-background-color-absent: #6b6b6b;
  --cell-background-color-present: #cdac24;
  --cell-background-color-correct: #59a21f;
  --cell-background-color-wrong: #c0392b;

  --cell-border-color-default: #444444;
  --cell-border-color-absent: #6b6b6b;
  --cell-border-color-present: #cdac24;
  --cell-border-color-correct: #59a21f;
  --cell-border-color-wrong: #c0392b;

  --cell-text-color-default: white;
  --cell-text-color-absent: white;
  --cell-text-color-present: white;
  --cell-text-color-correct: white;
  --cell-text-color-wrong: white;
  --cell-text-color-hidden: transparent;

  --app-background-color: #212121;
  --app-text-color: #e5e5e5;
  --app-text-header-color: #646669;

  --button-background-color-inactive: #1a1a1a;
  --button-background-color-active: #59a21f;

  --settings-button-background-inactive-color: #1a1a1a;
  --settings-button-text-inactive-color: white;
  --settings-button-background-active-default-color: #59a21f;
  --settings-button-text-active-default-color: white;
  --settings-button-background-active-danger-color: #c0392b;
  --settings-button-text-active-danger-color: white;

  --action-button-background-default-color: #1a1a1a;
  --action-button-text-default-color: #e5e5e5;
  --action-button-background-danger-color: #c0392b;
  --action-button-text-danger-color: white;

  --scrollbar-track-color: #212121;
  --scrollbar-thumb-color: #59a21f;
}
