:root[data-theme="light"] {
  --cell-background-color-default: transparent;
  --cell-background-color-absent: #6b6b6b;
  --cell-background-color-present: #ffde59;
  --cell-background-color-correct: #59a21f;
  --cell-background-color-wrong: #c0392b;

  --cell-border-color-default: #cccccc;
  --cell-border-color-absent: #6b6b6b;
  --cell-border-color-present: #ffde59;
  --cell-border-color-correct: #59a21f;
  --cell-border-color-wrong: #c0392b;

  --cell-text-color-default: #1a1a1a;
  --cell-text-color-absent: white;
  --cell-text-color-present: white;
  --cell-text-color-correct: white;
  --cell-text-color-wrong: white;
  --cell-text-color-hidden: transparent;

  --app-background-color: #f7f7f8;
  --app-text-color: #1a1a1a;
  --app-text-header-color: #4a8a16;

  --button-background-color-inactive: #6b6b6b;
  --button-background-color-active: #59a21f;
}
