.button-group {
  display: flex;
  width: 100%;
}

.button-group__button {
  flex: 1;
  font-size: calc(var(--item-font-scale) * 1rem);
  margin: calc(var(--item-font-scale) * 0.2rem);
  background-color: var(--cell-background-color-absent);
  color: var(--cell-text-color-absent);
  border: 1px solid var(--cell-border-color-absent);
}

.button-group__button--active {
  background-color: var(--cell-background-color-correct);
  color: var(--cell-text-color-correct);
  border: 1px solid var(--cell-border-color-correct);
}
