.cell {
  display: grid;
  place-items: center;
  border: 2px solid #ccc;
  aspect-ratio: 1;
  width: var(--grid-cell-size);
  font-size: var(--grid-font-size);
  font-weight: bold;
  text-transform: uppercase;

  transition: background-color var(--color-duration) ease var(--delay),
    color var(--color-duration) ease var(--delay),
    border-color var(--color-duration) ease var(--delay);
}

/* ===== State Colors ===== */
.cell--default {
  --target-background-color: var(--cell-background-color-default);
  --target-text-color: black;
  border-color: var(--cell-border-color-default);
}

.cell--correct {
  background-color: var(--cell-background-color-correct);
  color: white;
  border-color: var(--cell-border-color-correct);
}

.cell--present {
  background-color: var(--cell-background-color-present);
  color: white;
  border-color: var(--cell-border-color-present);
}

.cell--absent {
  background-color: var(--cell-background-color-absent);
  color: white;
  border-color: var(--cell-border-color-absent);
}

.cell--hidden {
  color: rgba(0, 0, 0, 0);
}

.cell--wrong {
  color: white;
  background-color: red;
}

/* ===== Animations ===== */
.cell--bounce {
  animation: bounce var(--motion-duration) ease forwards;
  animation-delay: var(--delay);
}

.cell--shake {
  animation: shake var(--motion-duration) ease forwards;
  animation-delay: var(--delay);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-10%);
  }
  40%,
  80% {
    transform: translateX(10%);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(min(-10px, -0.5rem));
  }
  100% {
    transform: translateY(0);
  }
}
