.grid {
  --grid-cell-size: min(calc(60vw / var(--cols)), calc(40vh / var(--rows)));
  --grid-font-size: calc(var(--grid-cell-size) * 0.5);
  --grid-gap: calc(var(--grid-cell-size) * 0.1);
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--cols), 1fr);
  justify-content: center;
  align-content: center;
  user-select: none;
  gap: var(--grid-gap);
}

.cell {
  display: grid;
  border: 2px solid #ccc;
  aspect-ratio: 1;
  width: var(--grid-cell-size);
  height: auto;
  font-size: var(--grid-font-size);
  font-weight: bold;
  text-transform: uppercase;
}

.cell--correct,
.cell--present,
.cell--absent {
  animation: bounce 0.3s ease forwards;
  animation-delay: var(--delay);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    background-color: var(--cell-background-color-absent);
    color: black;
    border-color: #ccc;
  }
  50% {
    transform: translateY(min(-10px, -0.5rem));
  }
  100% {
    transform: translateY(0);
  }

  50%,
  100% {
    background-color: var(--target-background-color);
    color: var(--target-text-color);
    border-color: var(--target-border-color);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-10%);
  }
  40%,
  80% {
    transform: translateX(10%);
  }
}

.cell--default {
  --target-background-color: var(--cell-background-color-default);
  --target-text-color: black;
  --target-border-color: var(--cell-border-color-default);
}

.cell--correct {
  --target-background-color: var(--cell-background-color-correct);
  --target-text-color: white;
  --target-border-color: var(--cell-border-color-correct);
}

.cell--present {
  --target-background-color: var(--cell-background-color-present);
  --target-text-color: white;
  --target-border-color: var(--cell-border-color-present);
}

.cell--absent {
  --target-background-color: var(--cell-background-color-absent);
  --target-text-color: white;
  --target-border-color: var(--cell-border-color-absent);
}

.cell--shake {
  animation: shake 0.5s ease forwards;
  animation-delay: var(--delay);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-10%);
  }
  40%,
  80% {
    transform: translateX(10%);
  }
}
