.grid {
  --grid-cell-size: clamp(
    2rem,
    min(40vw / var(--layout-cols), 40vh / var(--layout-rows)),
    6rem
  );

  --grid-font-size: calc(var(--grid-cell-size) * 0.5);
  --grid-gap: calc(var(--grid-cell-size) * 0.15);

  display: grid;
  grid-template-rows: repeat(var(--data-rows), var(--grid-cell-size));
  grid-template-columns: repeat(var(--data-cols), var(--grid-cell-size));
  justify-content: center;
  align-content: center;
  user-select: none;
  gap: var(--grid-gap);
}
