.keyboard {
  display: flex;
  flex-direction: column;
  gap: clamp(0.25rem, 0.8vw, 0.5rem);
  margin: auto;
}

.keyboard__row {
  display: flex;
  justify-content: center;
  gap: clamp(0.25rem, 0.8vw, 0.5rem);
}

.keyboard__key {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  aspect-ratio: 0.75;
  user-select: none;
  width: min(8vw, 2.5rem);
  cursor: pointer;
}

.keyboard__key--narrow {
  grid-column: span 1;
  aspect-ratio: 0.75;
}
.keyboard__key--wide {
  width: calc(min(8vw, 2.5rem) * 2 + clamp(0.25rem, 0.8vw, 0.5rem));
  aspect-ratio: 1.5;
}

.keyboard__key--default {
  background-color: var(--cell-background-color-default);
  color: black;
  border-color: #ccc;
}

.keyboard__key--correct {
  background-color: var(--cell-background-color-correct);
  color: white;
  border-color: #6aaa64;
}

.keyboard__key--present {
  background-color: var(--cell-background-color-present);
  color: white;
  border-color: #c9b458;
}

.keyboard__key--absent {
  background-color: var(--cell-background-color-absent);
  color: white;
  border-color: #787c7e;
}

@media (max-width: 1024px) {
  .keyboard {
    margin: clamp(0.5rem, 2vw, 1rem) auto;
  }
}
