.keyboard {
  --key-width-unit: clamp(1rem, 6vw, 2rem);
  --key-font-unit: clamp(0.4rem, 2.8vw, 0.8rem);
  --key-gap-unit: clamp(0.25rem, 0.5vw, 0.5rem);
}

.keyboard {
  --key-gap: calc(var(--key-gap-unit) * 1);
  display: flex;
  flex-direction: column;
  gap: var(--key-gap);
  margin: auto;
}

.keyboard__row {
  display: flex;
  justify-content: center;
  gap: var(--key-gap);
}

.keyboard__key {
  --font-size: calc(var(--key-font-unit) * 1);
  --key-width: calc(var(--key-width-unit) * 1);
  --key-height: calc(1.25 * var(--key-width));
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  font-size: var(--font-size);
  height: var(--key-height);
}

.keyboard__key--narrow {
  width: var(--key-width);
}
.keyboard__key--wide {
  width: calc(var(--key-width) * 2 + var(--key-gap));
}

.keyboard__key--default {
  background-color: var(--cell-background-color-default);
  color: black;
  border-color: #ccc;
}

.keyboard__key--correct {
  background-color: var(--cell-background-color-correct);
  color: white;
  border-color: #6aaa64;
}

.keyboard__key--present {
  background-color: var(--cell-background-color-present);
  color: white;
  border-color: #c9b458;
}

.keyboard__key--absent {
  background-color: var(--cell-background-color-absent);
  color: white;
  border-color: #787c7e;
}

@media (min-width: 600px) {
  .keyboard {
    --key-gap: calc(var(--key-gap-unit) * 1.4);
  }

  .keyboard__key {
    --key-width: calc(var(--key-width-unit) * 1.4);
    --font-size: calc(var(--key-font-unit) * 1.4);
  }
}

@media (min-width: 1024px) {
  .keyboard {
    --key-gap: calc(var(--key-gap-unit) * 1.6);
  }
  .keyboard__key {
    --key-width: calc(var(--key-width-unit) * 1.6);
    --font-size: calc(var(--key-font-unit) * 1.6);
  }

  @media (orientation: landscape) {
    .keyboard {
      --key-gap: calc(var(--key-gap-unit) * 1.2);
    }
    .keyboard__key {
      --key-width: calc(var(--key-width-unit) * 1.2);
      --font-size: calc(var(--key-font-unit) * 1.2);
    }
  }
}
