.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.key {
  user-select: none;
  font-weight: bold;
  cursor: pointer;
  font-size: var(--keyboard-key-font-size);
}

.key--narrow {
  height: 4rem;
  width: 3rem;
}

.key--wide {
  height: 4rem;
  width: 8rem;
}

.key--default {
  background-color: var(--cell-background-color-default);
  color: black;
  border-color: #ccc;
}

.key--correct {
  background-color: var(--cell-background-color-correct);
  color: white;
  border-color: #6aaa64;
}

.key--present {
  background-color: var(--cell-background-color-present);
  color: white;
  border-color: #c9b458;
}

.key--absent {
  background-color: var(--cell-background-color-absent);
  color: white;
  border-color: #787c7e;
}
