.settings-item {
  display: flex;
  flex-direction: column;
  user-select: none;
  --item-font-scale: 1;
}

.settings-item h3 {
  margin: calc(var(--item-font-scale) * 0.1rem) 0;
  font-size: calc(var(--item-font-scale) * 1rem);
}

.settings-item p {
  margin: calc(var(--item-font-scale) * 0.1rem) 0;
  font-size: calc(var(--item-font-scale) * 1rem);
}

.settings-item__info {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: calc(var(--item-font-scale) * 1.5rem);
}

.settings-item__actions {
  display: flex;
  gap: 0.5rem;
  align-self: flex-start;
  align-items: center;
  width: 100%;
  font-size: calc(var(--item-font-scale) * 0.5rem);
}

.settings-item__actions input {
  flex: 1;
  accent-color: var(--cell-background-color-correct);
}

.settings-item__actions img {
  width: calc(var(--item-font-scale) * 1.5rem);
  height: calc(var(--item-font-scale) * 1.5rem);
}

@media (min-width: 600px) {
  .settings-item {
    --item-font-scale: 1.3;
  }

  .settings-item__description {
    flex: 5 0 0;
  }
  .settings-item__actions {
    flex: 3 0 0;
  }
}

@media (min-width: 1024px) {
  .settings-item {
    --item-font-scale: 1.5;
  }
  .settings-item__info {
    flex-direction: row;
    justify-content: space-between;
  }
}
