.settings-item {
  display: flex;
  flex-direction: column;
  user-select: none;
  --item-font-scale: 1;
}

.settings-item h3 {
  margin: calc(var(--item-font-scale) * 0.1rem) 0;
  font-size: calc(var(--item-font-scale) * 1rem);
}

.settings-item p {
  margin: calc(var(--item-font-scale) * 0.1rem) 0;
  font-size: calc(var(--item-font-scale) * 1rem);
}

.settings-item button {
  margin: calc(var(--item-font-scale) * 0.2rem) 0;
  font-size: calc(var(--item-font-scale) * 1rem);
}

.settings-item__info {
  display: flex;
  flex-direction: column;
}

.settings-item__actions {
  display: flex;
  gap: 0.5rem;
}

.settings-item__actions input,
.settings-item__actions button {
  flex: 1;
}

@media (min-width: 600px) {
  .settings-item {
    --item-font-scale: 1.3;
  }
  .settings-item__info {
    flex-direction: row;
    justify-content: space-between;
  }
  .settings-item__description {
    flex: 1 0 0;
  }
  .settings-item__actions {
    flex: 1 0 0;
  }
}

@media (min-width: 1024px) {
  .settings-item {
    --item-font-scale: 1.5;
  }
}
