.settings-section {
  width: 80%;
  display: flex;
  flex-direction: column;

  margin-top: 2dvh;
  gap: 2dvh;
}

.settings-section__content {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.3s ease;
}

.settings-section__panel {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 3dvh;
}
