.toast {
  height: 3rem;
  width: 5rem;
  text-align: center;
  background-color: gray;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.toast--hidden {
  opacity: 0;
}
