:root {
  --key-font-size: 2rem;
  --cell-background-color-default: white;
  --cell-background-color-absent: gray;
  --cell-background-color-present: yellow;
  --cell-background-color-correct: green;
  --cell-background-color-wrong: red;

  --cell-border-color-default: #ccc;
  --cell-border-color-absent: gray;
  --cell-border-color-present: yellow;
  --cell-border-color-correct: green;
  --cell-border-color-wrong: red;

  --cell-text-color-default: black;
  --cell-text-color-absent: white;
  --cell-text-color-present: white;
  --cell-text-color-correct: white;
  --cell-text-color-wrong: white;
  --cell-text-color-hidden: transparent;
}

body {
  font-family: sans-serif;
  touch-action: none;
  overscroll-behavior: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

button {
  font: inherit;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
