:root {
  --key-font-size: 2rem;
  --cell-background-color-default: transparent;
  --cell-background-color-absent: rgba(166, 166, 166);
  --cell-background-color-present: rgba(255, 222, 89);
  --cell-background-color-correct: rgba(89, 162, 31);
  --cell-background-color-wrong: red;

  --cell-border-color-default: #ccc;
  --cell-border-color-absent: rgba(166, 166, 166);
  --cell-border-color-present: rgba(255, 222, 89);
  --cell-border-color-correct: rgba(89, 162, 31);
  --cell-border-color-wrong: red;

  --cell-text-color-default: black;
  --cell-text-color-absent: white;
  --cell-text-color-present: white;
  --cell-text-color-correct: white;
  --cell-text-color-wrong: white;
  --cell-text-color-hidden: transparent;
}

body {
  font-family: sans-serif;
  touch-action: manipulation;
  overscroll-behavior: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

button {
  font: inherit;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
