:root {
  --key-font-size: 2rem;
  --cell-background-color-default: white;
  --cell-background-color-absent: gray;
  --cell-background-color-present: yellow;
  --cell-background-color-correct: green;

  --cell-border-color-default: #ccc;
  --cell-border-color-absent: gray;
  --cell-border-color-present: yellow;
  --cell-border-color-correct: green;
}

body {
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

button {
  font: inherit;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
