.app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding-top: 1dvh;
  overscroll-behavior: none;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;

  --item-font-scale: 1;
}

.app__banner {
  flex: 0 0 7%;
}

.app__content {
  flex: 0 0 68%;
}

.app__keyboard {
  flex: 0 0 22%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1dvh;
}

.landscape-warning {
  display: none;
  text-align: center;
}

.game__error {
  color: red;
  text-align: center;
  font-size: 3rem;
}

.game-board__container {
  height: 100%;
}

.game-board__info {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: calc(var(--item-font-scale) * 1.25rem);
  color: var(--app-text-color);
  user-select: none;
  margin-bottom: calc(var(--item-font-scale) * 1rem);
}

.game-board {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-start;
  container-type: size;
}

.game-board__stack {
  width: fit-content;
  margin-top: 0px;
}

.game-board__controls {
  width: 100%;
}

.game-board__controls {
  display: grid;
  margin-top: calc(var(--item-font-scale) * 1rem);
  grid-template-rows: 1fr 0.5fr;
  gap: calc(var(--item-font-scale) * 0.5rem);
}

.game-board__button {
  font-size: calc(var(--item-font-scale) * 0.8rem);
  height: calc(var(--item-font-scale) * 1.8rem);
  background-color: var(--cell-background-color-absent);
  color: var(--cell-text-color-absent);
  border: 1px solid var(--cell-border-color-absent);
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

@media (max-height: 600px) and (orientation: landscape) {
  .app__banner,
  .app__content,
  .app__keyboard {
    display: none;
  }

  .landscape-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-size: 1rem;
    font-weight: bold;
  }
}

@media (max-height: 560px), (max-width: 340px) {
  .app__banner,
  .app__content,
  .app__keyboard {
    display: none;
  }

  .landscape-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-size: 1rem;
    font-weight: bold;
  }
}

@media (min-width: 600px) {
  .app {
    --item-font-scale: 1.25;
  }
}

@media (min-width: 1024px) {
  .app {
    --item-font-scale: 1.4;
  }
}
