.game__error {
  color: red;
  text-align: center;
  font-size: 3rem;
}

.app {
  height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.app__banner {
  flex: 0 0 10%;
  overflow: hidden;
}

.game__board {
  height: 100%;
}

.app__game {
  flex: 0 0 55%;
}

.app__keyboard {
  flex: 0 0 35%;
}
