.app {
  height: 100dvh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.app__banner {
  flex: 0 0 10%;
  overflow: hidden;
}

.app__game {
  flex: 0 0 65%;
}

.app__keyboard {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.landscape-warning {
  display: none;
  text-align: center;
}

@media (max-height: 500px) and (orientation: landscape) {
  .app__banner,
  .app__game,
  .app__keyboard {
    display: none;
  }

  .landscape-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-size: 1rem;
    font-weight: bold;
  }
}

.game__error {
  color: red;
  text-align: center;
  font-size: 3rem;
}

.game-board {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-board__grid {
  display: grid;
  gap: 0.5rem;
}

.game-board__controls {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.game-board__button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
