.app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 3dvh;
  --item-font-scale: 1;
}

.app__banner {
  flex: 0 0 7%;
  width: 100%;
}

.app__content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4dvh;
}

.settings-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2dvh;
  gap: 2dvh;
}

.settings-section__title {
  width: 80%;
  margin: calc(var(--item-font-scale) * 0.1rem) 0;
  font-size: calc(var(--item-font-scale) * 1.5rem);
  font-weight: bold;
}

.setting__container {
  width: 80%;
}

.landscape-warning {
  display: none;
  text-align: center;
}

@media (max-height: 600px) and (orientation: landscape) {
  .app__banner,
  .app__content {
    display: none;
  }

  .landscape-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-size: 1rem;
    font-weight: bold;
  }
}

@media (min-width: 600px) {
  .app {
    --item-font-scale: 1.3;
  }
  .setting__container,
  .settings-section__title {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .app {
    --item-font-scale: 1.5;
  }
  .setting__container,
  .settings-section__title {
    width: 80%;
  }
}
