.app {
  height: 100dvh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 3dvh;
}
.app__banner {
  flex: 0 0 7%;
  width: 100%;
}

.app__content {
  flex: 0 0 85%;
  gap: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 5dvh;
}

.setting__container {
  width: 80%;
}

.landscape-warning {
  display: none;
  text-align: center;
}

@media (max-height: 600px) and (orientation: landscape) {
  .app__banner,
  .app__content {
    display: none;
  }

  .landscape-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-size: 1rem;
    font-weight: bold;
  }
}

@media (min-width: 600px) {
  .setting__container {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .setting__container {
    width: 80%;
  }
}
